The contents contained in this Jupyter notebook may be freely distributed for teaching-learning purpose. When more than 50% of this notebook is used for a presentation or distribution it may be cited as follows: 

Python Tutorial: developed by Sheetal Taneja (Assistant Professor, Dyal Singh College), Ankit Rajpal (Assistant Professor, Deen Dayal Upadhyaya College), Naveen Kumar (Professor, Department of Computer Science), University of Delhi.

# Tuples and Dictionaries

---
## <font color= blue > Tuples </font>
* A tuple is an ordered sequence of objects. 
* A tuple may be specified by enclosing in the parentheses, the elements of the tuple (possibly of heterogeneous types), separated by commas.

In [6]:
myTuple = (4, 6, [2, 8], 'abc', {3, 4})

In [7]:
digits = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
subjects = ('Physics', 'Chemistry', 'Computer Science')

In [9]:
months = ((1, 'January'), (2, 'February'), (3, 'March'))

* If a tuple comprises a single element, the element should be followed by a comma to distinguish a tuple from a parenthesized expression.
* A tuple having a single element is also known as singleton tuple.

* Tuples being **immutable**, an attempt to modify an element of a tuple yields an error.

In [10]:
digits[1] = 3

TypeError: 'tuple' object does not support item assignment

## <font color= blue > Tuple Operations </font>

In [11]:
weekDays = ('Monday', 'Tuesday')
marks = (78, 99, 34, 45)
dateOfBirth = (1, 'October', 1990)

### <font color= green > Multiplication Operator * </font>

In [12]:
weekDays * 2

('Monday', 'Tuesday', 'Monday', 'Tuesday')

### <font color= green > Concatenation Operator + </font>

In [13]:
weekDays = weekDays + ('Wednesday',)
print(weekDays)

('Monday', 'Tuesday', 'Wednesday')

### <font color= green > Length Operator len </font>

In [14]:
len(weekDays)

3

### <font color= green > Indexing & Slicing </font>

In [15]:
yearOfBirth = dateOfBirth[-1] #Indexing
print(yearOfBirth)

1990

In [16]:
weekDays[1:2] #Slicing

('Tuesday',)

### <font color= green > Function min & max </font>

In [17]:
min(marks)

34

In [18]:
max(marks)

99

### <font color= green > Function sum </font>

In [19]:
sum(marks)

256

### <font color= green > Membership Operator in </font>

In [20]:
'Friday' in weekDays

False

### <font color= green > Function tuple </font>
* The function tuple can be used to convert a sequence to a tuple.

In [21]:
vowels = 'aeiou'
tuple(vowels)

('a', 'e', 'i', 'o', 'u')

## <font color= blue > **Built-in Functions on Tuples** </font>

### <font color= green > Function count </font>
* Returns count of occurrences of an element in the tuple.

In [22]:
age = (20, 18, 17, 19, 18, 18)
print(age.count(18))

3

### <font color= green > Function index </font>
* Returns index of the first occurrence of an element in the tuple.

In [23]:
age.index(18)

1

---
## <font color= blue > Dictionaries </font>
* A dictionary is an unordered sequence of key-value pairs. 
* Key and value in a key-value pair in a dictionary are separated by a colon. Further, <br> 
  the key:value pairs in a dictionary are separated by commas and are enclosed between <br>
  curly parentheses.
* Indices in a dictionary can be of any immutable type and are called keys.

In [25]:
month = {}
month[1] = 'Jan'
month[2] = 'Feb'
month[3] = 'Mar'
month[4] = 'Apr'
print(month)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr'}

* The search in a dictionary is based on the key. 
* Therefore, in a dictionary, the keys are required to be unique. However, the same value may be associated with multiple keys.

In [26]:
price = {'tomato':40, 'cucumber':30,
'potato':20, 'cauliflower':70, 'cabbage':50,
'lettuce':40, 'raddish':30, 'carrot':20,
'peas':80}

* Values associated with keys can be mutable objects and thus, may be changed at will.

In [27]:
price['tomato'] = 25

* Keys in a dictionary may be of heterogeneous types

In [28]:
counting = {1:'one', 'one':1, 2:'two', 'two':2}

## <font color= blue > Dictionary Operations </font>

In [29]:
digits = {0:'Zero', 1:'One', 2:'Two', 3:'Three', 4:'Four', 5:'Five', 6:'Six', 7:'Seven', 8:'Eight', 9:'Nine'}

### <font color= green > length Operator len </font>

In [30]:
len(digits)

10

### <font color= green > Indexing </font>

In [31]:
digits[1]

'One'

### <font color= green > Functions min and max</font>

In [32]:
min(digits)

0

In [33]:
max(digits)

9

### <font color= green > Function sum</font>

In [34]:
sum(digits)

45

### <font color= green > Membership Opeartor in</font>

In [35]:
5 in digits

True

In [36]:
'Five' in digits

False

**<font color= red > Note: Membership operation in, and functions min, max and sum apply
only to the keys in a dictionary. </font>**

### <font color= green >Deleting a key-value pair from dictionary</font>

In [37]:
winter = {11:'November ', 12: 'December', 1:'January', 2:'February'}
del winter[11]
print(winter)

{12: 'December', 1: 'January', 2: 'February'}

## <font color= blue > **Built-in Functions on Dictionaries** </font>

### <font color= green >Deleting all key-value pairs using clear function</font>

In [38]:
winter.clear()
print(winter)

{}

### <font color= green >Function get</font>
* The function get is used to extract the value corresponding to a given key
* The first parameter is used to specify the key and the second parameter is used to specify the value to be returned in case the key is not found in the dictionary. In case, the second parameter is not specified, the system returns None

In [1]:
passwords = {'Ram':'ak@607', 'Shyam':'rou.589'}

In [2]:
passwords.get('Ram',-1)

'ak@607'

In [3]:
passwords.get('Raman',-1)

-1

### <font color= green >Function update</font>
* The function update is used to insert in a dictionary, all the keyâ€“value pairs of another dictionary

In [4]:
morePasswords = {'Raman':'vi97@4', 'Kishore':'23@0jsk'}

In [5]:
passwords.update(morePasswords)
print(passwords)

{'Ram': 'ak@607', 'Shyam': 'rou.589', 'Raman': 'vi97@4', 'Kishore': '23@0jsk'}

### <font color= green >Function keys</font>
* Return an object comprising of all keys of the dictionary.

In [6]:
months = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr'}
print(months.keys())

dict_keys([1, 2, 3, 4])

### <font color= green >Function values</font>
* Return an object comprising of all values of the dictionary.

In [7]:
print(months.values())

dict_values(['Jan', 'Feb', 'Mar', 'Apr'])

### <font color= green >Function items</font>
* Return an object comprising of tuples of key-value pairs present in the dictionary.

In [8]:
print(months.items())

dict_items([(1, 'Jan'), (2, 'Feb'), (3, 'Mar'), (4, 'Apr')])

## <font color= blue > Dictionary of state and its capitals </font>

In [ ]:
def stateCapitalDict():
    '''
    Purpose: To form a dictionary of state and its capital as specified by user.
    Input Parameter: None
    Return Value: stateCapital - Dictionary containing state as keys and capital 
                  as values
    '''
    '''
    Approach:
    For each state and capital taken as input from the user
        Assign value capital to the key state
    '''
    stateCapital = dict()
    state = input('Enter state:')
    capital = input('Enter capital:')
    while state != '' and capital != '':
        stateCapital[state] = capital
        state = input('Enter state:')
        capital = input('Enter capital:')
    return stateCapital

def main():
    '''
    Purpose: To form a dictionary of state and its capital as specified by user.
    Input Parameter: None
    Return Value: None
    '''
    dict1 = stateCapitalDict()
    print(dict1)

if __name__ == '__main__':
    main()